.home-section {
  /* background: url("https://www.shutterstock.com/image-vector/black-stroke-style-cricket-equipments-600nw-2062425104.jpg"); */
  height: 100vh !important;
  width: 100% !important;
  /* overflow-y: scroll; */
}

@media (max-width: 760px) {
  .home-container .banner-comp {
    display: none;
  }
}
